# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

/lint-project.sh

# code coverage
coverage.txt
coverage.html

/bin/

# OpenAPITools/openapi-generator
openapi-generator-cli-*.jar

# macOS
.DS_Store

# WASM UI
/cmd/webui/assets/imagecashletter.wasm

# fuzzing
test/fuzz-reader/fuzzreader-fuzz.zip
test/fuzz-reader/corpus/*.tar.gz

# GoLand
/.idea/*

# GitLeaks
gitleaks.tar.gz

# OpenAPI
*.jar